# Node.js dependencies
node_modules/

# Build files
build/

# Log files
npm-debug.log
yarn-debug.log
yarn-error.log
*.log

# Environment variables
.env

# macOS system files
.DS_Store

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
env/
venv/

# Flask instance and cache files
instance/
*.sqlite
*.db

# IDE and editor files
.vscode/
.idea/
*.swp
